/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
 .cf:before,
 .cf:after {
     content: " "; /* 1 */
     display: table; /* 2 */
 }
 
 .cf:after {
     clear: both;
 }
 
 /**
  * For IE 6/7 only
  * Include this rule to trigger hasLayout and contain floats.
  */
 .cf {
     *zoom: 1;
 }



/* Style */

body {
    font: 16px/28px arial, sans-serif;
    background-color: rgb(223, 223, 223);
    color: rgb(61, 61, 61);
}

.container {
    width: 960px;
    margin: auto;
    background-color: white;
}

.header {
    padding: 20px;
    padding-bottom: 10px;
}

.header .judul {
    font-size: 30px;
    font-weight: bold;
}

.header ul li {
    display: inline-block;
    margin-top: 15px;
    margin-right: 5px;
}

.header ul li a {
    text-decoration: none;
    color: salmon;
    padding: 4px;
}

.header ul li a:hover {
    background-color: rgb(19, 19, 206);
    color: white;
}

.image {
    height: 450px;
    background-image: url(Foto-Bersama.jpeg);
    background-size: cover;
    background-position: 0 -180px;
}

.main {
    width: 600px;
    padding: 20px;
    box-sizing: border-box;
    float: left;
}

.main h2 {
    font-size: 28px;
    font-weight: bold;
}

.main .penulis {
    font-size: 11px;
    margin-top: -5px;
}

.main .penulis a {
    color: salmon;
    text-decoration: none;
}

.main .penulis a:hover {
    background-color: rgb(19, 19, 206);
    color: white;
}

.main p {
    margin-bottom: 20px;
    font-size: 14px
}

.sidebar {
    width: 300px;
    float: right;
    padding: 20px;
}

.sidebar h3 {
    font-weight: bold;
    color: #666;
}

.sidebar img {
    width: 50px;
    float: left;
    padding-right: 10px;
}

.sidebar p {
    font: 12px/18px arial;
}

.footer {
    background-color: rgb(36, 36, 36);
    padding: 10px;
}

.footer .copy {
    color: rgb(206, 198, 198);
    text-align: center;
    font-size: 12px;
}